{% extends 'default.html.twig' %}

{% block title %}
    Bienvenue sur le Framework Lucario
{% endblock %}

{% block content %}
    <main>
        <h1>Bienvenue sur le framework Lucario</h1>
        <p>Vous pouvez commencer par éditer (ou supprimer) ce fichier et commencer à développer !</p>
    </main>
{% endblock %}