{% extends 'default.html.twig' %}

{% block content %}
    <div>
        <h1>Erreur 405 : Méthode non approuvée</h1>
        <p><a href="/">Retour sur la page d'accueil</a></p>
    </div>
{% endblock %}